.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 15px;
}
.active-link{
  background-color: white;
  color:#1C5CFD ;
  padding: 12px;
}
.activeLink{
  background-color: white;
  color: #1C5CFD !important;
  padding: 12px;
  border-radius: 10px;
}

.link{
  padding: 12px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
.link:hover{
  background-color: white;
  color: #1C5CFD;
  font-weight: 500;
}
